/* Write your CSS here */

.project-container {
  display: flex;
  flex-direction: column;
}

.img-tumbline {
  height: 300px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.title-container-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  padding: 0px;
}

.title-project {
  font-family: Roboto;
  font-size: 40px;
  color: #1e293b;
  align-self: center;
  line-height: 1;
}

.icon-container-project {
  display: flex;
  align-self: center;
}

.icon-project {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  align-self: center;
}

.time-text-project {
  font-family: Roboto;
  font-size: 18px;
  color: #1e293b;
  align-self: center;
  font-weight: bold;
}

.discription-project {
  font-family: Roboto;
  font-size: 18px;
  color: #1e293b;
  margin-bottom: 15px;
  margin-top: 0px;
}

.link {
  font-family: Roboto;
  font-size: 20px;
  text-decoration: none;
  color: #0967d2;
  font-weight: bold;
  margin-bottom: 15px;
}
